<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    {% block head %}{% endblock %}
    <title>Benne & Nuts - {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="https://kit.fontawesome.com/12901c435e.js" crossorigin="anonymous"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
</head>


<body>
{% block header %}
    {% include 'common/header.html.twig' %}
{% endblock %}

{% block body %}{% endblock %}


{% block footer %}
    {% include 'common/footer.html.twig' %}
{% endblock %}


{% block javascripts %}

{#    <script src="js/jquery.min.js"></script>#}
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
{% endblock %}
</body>
</html>
